<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Historia Clínica</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Pacientes</a></li>
          <li class="breadcrumb-item"><a (click)="back()" class="link">Paciente</a></li>
          <li class="breadcrumb-item active">Historia Clínica</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">

  <div class="card card-solid">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="col-12">
            <secure-image [src]="url" [class]="'product-image'" [alt]="'Product Image'" />
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
