<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>{{paciente.name | uppercase}} {{paciente.lastName | uppercase}}</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a [routerLink]="['/paciente']">Paciente</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ver</li>
      </ol>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-lg-6">
    <h3 class="card-title"></h3>
  </div>
  <div class="col-lg-6">
    <button class="btn btn-primary float-end" [routerLink]="['/paciente/diagnostico/'+paciente.id]">Nueva Imagen Macro</button>
  </div>
</div>
<div class="row mt-3">
  <div class="col-lg-6">

  </div>
</div>

    <div class="row">
      <div class="col-md-4">
        <div class="card  card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <h6 class="card-subtitle ">{{paciente.name | uppercase}} {{paciente.lastName | uppercase}} </h6>
            </div>
            <ul class="list-group list-group-unbordered mb-3">

              <li class="list-group-item"><b>Nacimiento</b><span class="float-right">{{paciente.birthdate | date:"longDate":"UTC"}}</span></li>
              <li class="list-group-item"><b>Edad</b><span class="float-right">{{edad(paciente.birthdate.toString())}} años</span></li>
              <li class="list-group-item"><b>Sexo</b><span class="float-right">{{paciente.sex}}</span></li>
              <li class="list-group-item"><b>Profesión</b><span class="float-right">{{paciente.profesion}}</span></li>
              <li class="list-group-item"><b>Teléfono</b><span class="float-right">{{paciente.phone}}</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Historia Clínica</a></li>
              <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>
              <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <form>
                  <div class="mb-3">
                    <label for="fileUpload" class="form-label">Subir historia clinica</label>
                    <input type="file" class="file-input" accept="image/png, image/gif, image/jpeg" (change)="onFileSelected($event)" name="fileUpload" #fileUpload>
                    <div class="file-upload">
                      {{fileName || "No hay archivos aún."}}

                      <button class="btn btn-primary" (click)="fileUpload.click()">
                        <i class="fa fa-paperclip"></i>
                      </button>
                    </div>

                    <div class="progress">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="uploadProgress" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <span class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever</span>
                    </div>
                  </div>
                </form>
                <div class="mb-12">
                  <div class="card">
                    <div class="card-body">
                      <ul class="products-list product-list-in-card pl-2 pr-2" *ngFor="let historiaClinica of historiasClinicas">
                        <app-historia-clinica [historiaClinica]="historiaClinica" [pacienteId]="id"></app-historia-clinica>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="timeline">
                <app-bodylist [items]="diagnosticos" [total]="totalPages" [cuantos]="page+1" [page]="page" [first]="first" [last]="last" (getMicro)="getMicro($event)"></app-bodylist>

                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-end">
                    <li class="page-item" *ngIf="!first">
                      <a class="page-link" role="button" (click)="getDiagnosticPage(page-1)" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item" *ngIf="!first"><a class="page-link" role="button" (click)="getDiagnosticPage(page-1)" >{{page}}</a></li>
                    <li class="page-item"><a class="page-link active" role="button" >{{page+1}}</a></li>
                    <li class="page-item" *ngIf="!last"><a class="page-link" role="button" (click)="getDiagnosticPage(page+1)">{{page+2}}</a></li>
                    <li class="page-item" *ngIf="!last">
                      <a class="page-link" role="button" (click)="getDiagnosticPage(page+1)">Next</a>
                    </li>
                  </ul>
                </nav>

              <div class="col-md-4" *ngIf="micros.length > 0">
                <app-microlist [items]="micros"></app-microlist>

                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-end">
                    <li class="page-item" *ngIf="!first">
                      <a class="page-link" role="button" (click)="getDiagnosticPage(page-1)" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item" *ngIf="!first"><a class="page-link" role="button" (click)="getDiagnosticPage(page-1)" >{{page}}</a></li>
                    <li class="page-item"><a class="page-link active" role="button" >{{page+1}}</a></li>
                    <li class="page-item" *ngIf="!last"><a class="page-link" role="button" (click)="getDiagnosticPage(page+1)">{{page+2}}</a></li>
                    <li class="page-item" *ngIf="!last">
                      <a class="page-link" role="button" (click)="getDiagnosticPage(page+1)">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>


              </div>

              <div class="tab-pane" id="settings">

              </div>

              </div>
          </div>
        </div>
</div>
