<h1>{{titulo}}</h1>


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/paciente']">Paciente</a></li>
    <li class="breadcrumb-item active" aria-current="page">Ver</li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">
    <div class="row mt-3">
      <div class="col-lg-6">
        <h5 class="card-title">{{paciente.name | uppercase}} {{paciente.lastName | uppercase}} ({{edad(paciente.birthdate.toString())}} años)</h5>
      </div>
      <div class="col-lg-6">
        <button class="btn btn-primary float-end" [routerLink]="['/paciente/diagnostico/'+paciente.id]">Nuevo Diagnostico</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-6">
        <h6 class="card-subtitle "> {{paciente.birthdate | date:"longDate":"UTC"}} </h6>
      </div>
    </div>
  </div>
  <div class="card-body">
    <app-bodylist [items]="items"></app-bodylist>
    <ul class="list-group">
      <li *ngFor="let diagnostico of diagnosticos" class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{diagnostico.name}}</div>
        </div>
        <button class="btn btn-primary">Ver</button>
      </li>
    </ul>
  </div>
</div>
