<div class="row mt-3">
  <div class="col-lg-6">
    <h3>Lista de doctores</h3>
  </div>
  <div class="col-sm-8 col-9 text-right m-b-20">
      <button class="btn btn-primary btn-rounded float-right" [routerLink]="['/doctor/new/']" ><i class="fa fa-plus"></i> Nuevo Doctor</button>
  </div>
</div>
<table *ngIf="listDoctor.length > 0" class="table table-hover mt-3">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Especialidad</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doctor of listDoctor">
      <td>{{ doctor.name }}</td>
      <td>{{ doctor.lastName }}</td>
      <td>{{ doctor.speciality.name }}</td>
      <td> <a [routerLink]="['/doctor/view/'+doctor.id]" class="btn btn-primary">Ver</a></td>
    </tr>
  </tbody>
</table>
<div *ngIf="listDoctor.length == 0" class="row mt-5">
  No hay doctores
</div>
