<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <h3 class="page-title">Doctores</h3>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" [routerLink]="['/doctor/new']">
        <i class="fa fa-plus"></i> Agregar Doctor
      </button>
    </div>
  </div>
</div>

<div class="row" *ngIf="doctores.content && doctores.content.length > 0">
  <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let doctor of doctores.content">
    <div class="profile-widget">
      <div class="doctor-img">
        <a [routerLink]="['/doctor/view', doctor.id]">
          <img class="img-fluid" src="assets/user.png" alt="Doctor Image" onerror="this.src='assets/user.png'">
        </a>
        <div class="dropdown profile-action">
          <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-ellipsis-v"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" [routerLink]="['/doctor/view', doctor.id]">
              <i class="fa fa-eye m-r-5"></i> Ver
            </a>
            <a class="dropdown-item" [routerLink]="['/doctor/edit', doctor.id]">
              <i class="fa fa-pencil m-r-5"></i> Editar
            </a>
            <a class="dropdown-item" href="#" (click)="deleteDoctor(doctor.id, $event)">
              <i class="fa fa-trash-o m-r-5"></i> Eliminar
            </a>
          </div>
        </div>
      </div>
      <h4 class="doctor-name text-ellipsis">
        <a [routerLink]="['/doctor/view', doctor.id]">{{ doctor.name }} {{ doctor.lastName }}</a>
      </h4>
      <div class="doc-prof">{{ doctor.speciality?.name || 'Sin especialidad' }}</div>
      <div class="user-country">
        <i class="fa fa-envelope"></i> {{ doctor.email || 'No disponible' }}
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="!doctores.content || doctores.content.length === 0">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <i class="fa fa-info-circle"></i> No hay doctores registrados
    </div>
  </div>
</div>

<div class="row" *ngIf="loading">
  <div class="col-12 text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
  </div>
</div>