
.item {
  position:relative;
  padding-top:20px;
  display:inline-block;
}
.notify-badge{
  position: absolute;
  right:10px;
  top:5px;
  text-align: center;
}

img:before {
  content: ' ';
  display: block;
  position: absolute;
  height: 50px;
  width: 50px;
  background-image: url('./../../../../assets/logo.png');
}
