<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <span class="badge badge-danger notify-badge">Micros: {{micros}}</span>
        <h3 class="header">{{item.name}}</h3>
      </div>
      <div class="card-body">
        <img src="{{location}}" alt="Macro Image is Missing" class="">
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6">
            <a (click)="changeId(macroId)" class="btn btn-primary"><i class="fas fa-eye"></i> Ver Micros</a>
          </div>
          <div class="col-md-6">
            <a href="{{item.id}}" class="btn btn-primary"><i class="fas fa-camera"></i> Agregar Micro</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
